<h1>Stundenplan</h1>
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Stunde</th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
        <td>Sommerfeld</td>
        <td>Jäckel</td>
        <td>Sommerfeld</td>
        <td>Buhl</td>
        <td>Jäckel</td>
      </tr>
      <tr>
          <td>2</td>
        <td>Sommerfeld</td>
        <td>Jäckel</td>
        <td>Sommerfeld</td>
        <td>Buhl</td>
        <td>Jäckel</td>
      </tr>
      <tr>
          <td>3</td>
        <td>Sommerfeld</td>
        <td>Jäckel</td>
        <td>Sommerfeld</td>
        <td>Buhl</td>
        <td>Jäckel</td>
      </tr>
      <tr>
          <td>4</td>
        <td>Sommerfeld</td>
        <td>Jäckel</td>
        <td>Sommerfeld</td>
        <td>Buhl</td>
        <td>Jäckel</td>
      </tr>
      <tr>
          <td>5</td>
        <td>Müller</td>
        <td>Buhl</td>
        <td>Buhl</td>
        <td>Jäckel</td>
        <td>Buhl</td>
      </tr>
      <tr>
          <td>6</td>
        <td>Müller</td>
        <td>Buhl</td>
        <td>Buhl</td>
        <td>Jäckel</td>
        <td>Buhl</td>
      </tr>
    </tbody>
  </table>
  </div>